@model IEnumerable<Post>

@using Blog.Entities


@{
    ViewBag.Title = "Berkay Gürbüz Blog";
    ViewBag.Description = "a little bit about me and a lots of coding";
    ViewBag.Keywords = "blog programming c# dotnetcore mvc";
}

<div class="main-img img-fluid">
    <span class="title">Hello, I'm Berkay.</span>
</div>

<div class="container">
    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="hidden" name="pageNumber" value="@ViewBag.pageNumber" />
        <input class="form-control mt-2 mb-3" type="text" name="search" value="" placeholder="Search Blog" />
    </form>
    <div class="container">
        <div class="row">
            <div class="col-lg-10">


                @foreach (var post in Model)
                {

                    <div class="card text-center">
                        <div class="card-header">
                            @if (!String.IsNullOrEmpty(post.Image))
                            {
                                var imagePath = $"{post.Image}".Remove(0, 7);
                                <img class="post_img" src="@imagePath" />
                            }
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@post.Title</h5>
                            <p class="card-text">@Html.Raw(post.Body)</p>
                            <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id" class="btn btn-primary">Read Continue...</a>
                        </div>
                        <div class="card-footer text-muted">
                            @post.CreatedAt
                        </div>
                    </div>

                    <ul>
                        <li>

                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@post.Id">Edit</a>
                            <a asp-controller="Home" asp-action="Remove" asp-route-id="@post.Id">Remove</a>
                        </li>
                    </ul>
                }
            </div>


            <div class="col-lg-2">
                <h2>SAĞ TARAF</h2>


            </div>

        </div>
        @if (ViewBag.pageNumber > 1)
        {

            <a asp-controller="Home" asp-action="Index" asp-route-pageNumber="@(ViewBag.pageNumber-1)" asp-route-category="@ViewBag.Category">Previous Page</a>
        }
        @if (ViewBag.canGoNext == true)
        {

            <a asp-controller="Home" asp-action="Index" asp-route-pageNumber="@(ViewBag.pageNumber + 1)" asp-route-category="@ViewBag.Category" asp-route-search="@ViewBag.Search">Next Page</a>
        }
    </div>
</div>

