@model IEnumerable<Post>
@using Blog.Entities

@{ 
    ViewBag.Title = "Berkay Gürbüz Blog";
    ViewBag.Description = "a little bit about me and a lots of coding";
    ViewBag.Keywords = "blog programming c# dotnetcore mvc";


}

<div class="main-img img-fluid">
    <span class="title">Hello, I'm Berkay.</span>
</div>

<div class="container">
    @foreach(var post in Model)
    {
        if (!String.IsNullOrEmpty(post.Image))
        {
            var imagePath = $"{post.Image}".Remove(0, 7);
        <img class="post_img" src="@imagePath"/>
        }
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">@post.Title</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@post.Id">Edit</a>
                <a asp-controller="Home" asp-action="Remove" asp-route-id="@post.Id">Remove</a>
            </li>
        </ul>
    }
</div>

