@model IEnumerable<Post>

@using Blog.Entities


@{
    ViewBag.Title = "Berkay Gürbüz Blog";
    ViewBag.Description = "a little bit about me and a lots of coding";
    ViewBag.Keywords = "blog programming c# dotnetcore mvc";
}




<div class="container">
    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="hidden" name="pageNumber" value="@ViewBag.pageNumber" />
        <input class="form-control mt-2 mb-3" type="text" name="search" value="" placeholder="Search Blog" />
    </form>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">


                @foreach (var post in Model)
                {

                    <div class="card text-center">
                        <div class="card-header">
                            @if (!String.IsNullOrEmpty(post.Image))
                            {
                                var imagePath = $"{post.Image}".Remove(0, 7);
                                <img class="post_img img-fluid" src="@imagePath" width="800" />
                            }
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">@post.Title</h5>
                            <p class="card-text my-card">@Html.Raw(post.Body)</p>
                            <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id" class="btn btn-primary justify-content-center">Read More</a>
                        </div>
                        <div class="card-footer text-muted">
                            <span class="my-card-footer">@post.CreatedAt</span>
                        </div>
                    </div>

                    <ul>
                        <li>

                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@post.Id">Edit</a>
                            <a asp-controller="Home" asp-action="Remove" asp-route-id="@post.Id">Remove</a>
                        </li>
                    </ul>
                }
            </div>



        </div>
 
        @if (ViewBag.pageNumber > 1)
        {
        
            <a asp-controller="Home" asp-action="Index" asp-route-pageNumber="@(ViewBag.pageNumber-1)" asp-route-category="@ViewBag.Category">Previous Page</a>
        }
        @if (ViewBag.canGoNext == true)
        {

            <a asp-controller="Home" asp-action="Index" asp-route-pageNumber="@(ViewBag.pageNumber + 1)" asp-route-category="@ViewBag.Category" asp-route-search="@ViewBag.Search">Next Page</a>
        }
        
    </div>
</div>

